/* Accessibility Lib v0.0-develop.1 */




button {
  padding: 7px 20px;
  border: 2px solid black;
  background: lightgrey;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

button:disabled {
  cursor: not-allowed;
}

button.primary {
  background: #2E57A4;
  color: white;
  border: none;
}

button.primary:disabled {
  background: #6279A4;
  
}