/* Accessibility Lib v0.0-develop.1 */


/* BUTTON STYLING */

button {
  padding: 7px 20px;
  border: 3px solid black;
  background: lightgrey;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

button:hover {
  background: darkgrey;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  background: lightgrey;
}

button.primary {
  background: #2E57A4;
  color: white;
  border: none;
}

button.primary:hover {
  background: #051C48;
}

button.primary:disabled {
  background: #6279A4;
}

button.secondary {
  background: white;
  border: 3px solid #2E57A4;
  color: #051C48;
  font-weight: 500;
}

button.secondary:hover {
  background: #2E57A4;
  border-color: #2E57A4;
  color: white;
}

button.secondary:disabled {
  background: #E6EAF2;
  border-color: #6279A4;
  color: #051C48;
}

button.tertiary {
  background: #DDEDF9;
  border: 2px solid #2E57A4;
  color: #051C48;
  font-weight: 500;
}

button.tertiary:hover {
  background: #86AFCF;
}

button.tertiary:disabled {
  background: #E6EDF2;
}

button.text-button {
  background: none;
  border: none;
  color: #051C48;
  font-weight: 500;
}

button.text-button:hover {
  background: #DDEDF9;
}

button.text-button:disabled {
  background: none;
  text-decoration: line-through;
}